body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    background-color: rgb(53, 53, 53);
    background-image: url(../img/piramidesBlack.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}
/* nav */ 
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    margin-top: 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #161616;
    height: 8vh;
    width: 100%;
    padding-left: 1%;
    /* padding-right: 1%; */
    margin-top: 0;
  }    
/* nav */

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1{
  color: rgb(212, 2, 2);
  font-family: Georgia;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  color: yellow;
}
form{
  background-image: url(../img/guerreira.png);
  background-position: right center;
  background-size:contain;
  background-repeat: no-repeat;    
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(172, 119, 119);
  border-radius: 15px;
  width: 100%;
  padding: 3rem;
 
 
 
}
div{
  margin: 5px;
}

section#cadastro form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  outline: none;
  border-radius: 1rem;
  border: 0.1rem solid #ccc;
}
section#cadastro form div label {
  font-size: 1.3rem;
  color: rgb(80, 9, 9);
}
section#cadastro form button {
  border: 1px solid rgb(212, 2, 2);
  background-color: #fff;
  color: rgb(80, 9, 9);
  padding: 1rem;
  font-size: 0.8vw;
  font-weight: 600;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 20%;
}